<html>
 <head>
    <title> Ana's Calculator</title>
</head>
<body>
  <div align = "center"
  <h1>The Best Calculator on the Web</h1>
  <form action = "/calculator", method = "POST">
    <div align = "center">
    <p>
      <label for="op1-input">First Number</label>
    </p>
    <p>
        <input type="float" id="op1-input" name="op1" value={{calc}}>
      </p>
      <br>
    </div>
    <p>
    <div align="center">
      <select name="operator">
         <option value="+">+</option>
         <option value="-">-</option>
         <option value="*">*</option>
         <option value="*">/</option>
      </select>
    </div>
  </p>
    <div align = "center"
    <p>
        <input type="float" id="op2-input" name="op2" value="">
      </p>
    </div>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
