<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ana's Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
   <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
  </head>

  <body>
    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <h1>Welcome to the Best Calculator in the World!!</h1>
            <form action = "/index", method = "POST">
              <div class="row">
              </div>
                <div class="row">
                  <div class="large-4 medium-4 columns">
                    <label>Enter a number</label>
                    <input type="float" name="op1" value={{calc}}>
                  </div>
                </div>
              <p>
              </p>
                <div class="row">
                  <div class="large-1 columns">
                    <select name="operator">
                      <option value="+">+</option>
                      <option value="-">-</option>
                      <option value="*">*</option>
                      <option value="/">/</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="large-4 medium-4 columns">
                    <label>Enter a number</label>
                    <input type="float" name="op2" />
                  </div>
                </div>
                <br>
                <input type="submit" class="small round button" value="Submit">
              </form>

          </div>
        </div>
      </div>

      <script src="{{ url_for('static', filename='js/vendor/fastclick.js') }}"></script>
      <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
      <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
      <script>
        $(document).foundation();
      </script>
  </body>
</html>
